body, html{
    background-color: #5c1e1e;
    margin:0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela{
    background-color: #6d6d6d;
    border: 20px do #000000;
    border-radius: 5%;
    font-size: 50px;
    padding: 5px 12px
}

.cabeçalho{
    font-size: 75px;
    font-weight: bold;
    color:rgb(0, 0, 0);
}

td{
    border: 2px double #030303;
    border-radius: 5%;
    text-align: center;
    padding: 5px 10px;
}
