body, html{
    background-color: #616161;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabela{
    background-color: rgba(37, 87, 45, 0.692);
    border: 10px double #000000;
    border-radius: 5%;
    font-size: 50px;
    padding: 5px 8px;
    color: #979797;
}

td{
    background-color: hwb(0 100% 0%);
    border: 1px solid;
    border-radius: 10%;
    text-align: center;
    padding: 10px 15px;
}
